.button {
  width: 20vw;
  padding: 1em;
  height: auto;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 1em;
}

.button:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 1px 1px black;
}

.button:active {
  box-shadow: none;
}
