.button {
  padding: 1em;
  height: auto;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 1em;
}

form button[type="submit"] {
  display: block;
  position: relative;
  background-color: #c1e1c1;
}

form#log-in-form button[type="submit"] {
  left: 200px;
}

form#change-form button[type="submit"] {
  left: 225px;
}

.button:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 1px 1px black;
}

.button:active {
  box-shadow: none;
}
