select {
  width: 42vw;
  margin: 1em;
  display: inline-block;
  padding: 1em;
  display: block;
}

form {
  width: 50vw;
  height: auto;
  padding: 2em;
  margin: 1em auto;
  border: 1px black solid;
}

#log-in-form .input-error {
  color: red;
  font-size: 0.75em;
}

p#intro {
  text-align: center;
}
